:root{
    --blue: #2563eb;
    --gray: gray;
    --off-white: #f3f4f6;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;
}

.navigation{
    background-color: var(--blue); 
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}


.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline-block;
    padding: 0rem 0.5rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}