:root{
    --blue: #2563eb;
    --gray: gray;
    --off-white: #f3f4f6;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.container {
    padding: 0rem 1rem;
}

.navigation{
    background-color: var(--blue); 
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    margin-bottom: 0rem;
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}


.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline-block;
    padding: 0rem 0.5rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

input{
    border-radius: 15px;
    text-align: center;
    padding: 0.1rem;
    height: 1.7rem;
    font-size: large;
    width: 10rem;
    margin-bottom: 1rem;
}

.head-angle{
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.btn-click {
    padding: 8px 16px;
    margin-top: 1.5rem;
    border-radius: 10px;
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    transition: 0.1s;
  }
  
  .btn-click:hover {
    background-color: #2563eb;
    color: white;
  }

  .op-text{
    font-size: x-large;
    margin-top: 2rem;
  }

  .alert-line{
    color: red;
  }

  .footer{
    background-color: var(--blue);
    padding: 1rem 0px;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    padding-bottom: 10px;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}